.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px 0px;
  color: #696969;
}

.App-title {
  font-weight: 200;
  color: #41c7df;
  background: transparent;
  -webkit-font-smoothing: antialiased;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container-row {
  margin: 0 auto;
  width: 100%;
  max-width: 810px;
}
.container-row:before,
.container-row:after {
  content: '';
  display: table;
}
.container-row:after {
  clear: both;
}
.container-row .container-row {
  margin: 0 -15px;
  width: auto;
}
.container-col {
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  text-align: left;
}

.container-col-test {
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  text-align: left;
  background-color: #000000;
}

.container-content {
  align-content: left;
  width: 100%;
  margin: 20px 0px;
}
